html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.controller-container{
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 200px;
	background: #fff;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 10px;
	margin: 10px;
}


#step-container{
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
}

#step-slider{
	flex: 1 1 auto;
}

#step-text{
	flex: 0 0 70px;
	text-align: left;
}

#angle-container{
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
}

#angle-slider{
	flex: 1 1 auto;
}

#angle-text{
	flex: 0 0 70px;
	text-align: left;
}